:root {
  --sidebar-color:#334155;
  --font-color: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
}

h1 {
  color: var(--font-color);
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  height: 100vh;
  background-color: var(--sidebar-color);
  display: grid;
  grid-template-columns: min(300px);
  grid-template-rows: repeat(10, 50px);
  gap: 5px;
  grid-row: 1 / 11;

}

.sidebar .dash-element {
  color: var(--font-color);

}