:root {
  --sidebar-color:#334155;
  --font-color: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
}

h1 {
  color: var(--font-color);
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  height: 100vh;
  background-color: var(--sidebar-color);
  display: grid;
  grid-template-columns: min(300px);
  grid-template-rows: repeat(10, 50px);
  gap: 5px;
  grid-row: 1 / 11;

}

.sidebar .dash-element {
  color: var(--font-color);
  background-repeat: no-repeat;

}

/* Icon images for sidebar */

.home {
  background-image: url(assets/home.svg);
}

.profile {
  background-image: url(assets/face-man-profile.svg);
}

.messages {
  background-image: url(assets/message-badge-outline.svg);
}

.history {
  background-image: url(assets/history.svg);
}

.tasks {
  background-image: url(assets/calendar-check.svg);
}

.communities {
  background-image: url(assets/account-group.svg);
}

.settings {
  background-image: url(assets/cog.svg);
}

.support {
  background-image: url(assets/face-agent.svg);
}

.privacy {
  background-image: url(assets/shield-check.svg);
}